header {
  display: flex;
  flex-direction: column;
}

.App {
  display: grid;
  grid-template-columns: 30% 70%;

  .main-left {
    display: flex;
    flex-direction: column;
    gap: 35px;

    .experience-forms {
      display: flex;
      flex-direction: column;

      .experience-form-wrapper {
        display: flex;
        flex-direction: column;

        button {
          width: 100px;
        }
      }

      #addJob {
        align-self: center;
        width: 130px;
      }
    }
  }

}

form {
  display: flex;
  flex-direction: column;
}